@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --toast-bg: #363636;
    --toast-text: #fff;
  }

  .dark {
    --toast-bg: #1f2937;
    --toast-text: #f9fafb;
  }
}
